.hero {
    top: 0;
    width: 80%;
    margin: 50px auto;
    padding: 0px 25px;
}

.hero p {
    margin-top: 50px;
}

.logo img{
    width: 360px;
    margin-bottom: 50px;
}

.gambar-produk img {
    width: 680px;
}