.hero {
    top: 0;
    width: 80%;
    margin: 50px auto;
    padding: 0px 18px;
}

.hero p {
    margin-top: 50px;
}

        @media (max-width:768px) {
            .hero p {
                margin-top: 40px;
            }
        }

        @media (max-width:576px) {
            .hero p {
                margin-top: 20px;
            }
        }

.logo img{
    width: 320px;
    margin-bottom: 50px;
}

        @media (max-width:991px) {
            .logo {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .logo img{
                width: 280px;
            }
        }
        
        @media (max-width:768px) {
            .logo img{
                width: 260px;
                margin-bottom: 40px;
            }
        }

        @media (max-width:576px) {
            .logo img{
                width: 240px;
            }
        }
        

.gambar-produk img {
    width: 680px;
}

.ctn {
    width: 80%;
    margin: 100px auto;
    background-image: url(../img/bg.jpg);
    background-color: var(--warna-ungu);
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.box {
    padding: 120px 100px; 
}

.tulisan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: centers;
}

.tulisan h1, .tulisan h5 {
    color: var(--warna-putih);
}

.video {
    display: flex;
    justify-content: center;
    align-items: centers;
}

.video video {
    max-width: 100%;
    border-radius: 30px;
    outline: none;
}